{% extends "accounts/base.html" %}

{% block content %} 
<style>
    #orders-card {
        display: flex !important;
        justify-content: center;                
        border-radius: 8px;
        align-items: center;
        gap: 20px;
    }  
</style>     

<div class="row mb-4">
    <div id="orders-card">
        <div class="card card-body bg-primary text-white">
            </h3> My Orders</h3>
            <h3>{{ orders|length }}</h3>
        </div>
        <div class="card card-body bg-info text-white">
            <h5>Products</h5>
            <h3>{{ products|length }}</h3>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-7">
        <h3>Recent Orders</h3>
        <hr>
        <a class="btn btn-primary btn-sm btn-block" href="#">Create orders</a>

        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 <a href="#"> <p>view more orders...</p></a>
</div>

 {% endblock %}